/* Basic styles for the modal */

.modal {
    max-height: none; /* Remove the maximum height constraint */
    height: auto; /* Set height to auto to fit the content */
    top: auto; /* Remove top positioning */
    bottom: auto; /* Remove bottom positioning */
    transform: none; /* Remove the default transform property */
    border-radius: 8px; /* Add some border radius to the modal */
}

.modal-content {
    padding: 20px; /* Add some padding to the modal content for better appearance */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Basic styles for the container */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .sidebar {
    width: 250px; /* Adjust based on your sidebar width */
  }
  
  .main-content {
    flex-grow: 1;
  }

h1 {
    text-align: center;
    color: #333;
}

.deal-list {
    margin-top: 20px;
}

.deal-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.deal-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.store-name {
    font-size: 14px;
    color: #666;
}

.price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
}

@media screen and (max-width: 1440px) and (min-width: 1180px) {
    .container {
        position: absolute;
        right : 5%;
    }
    
}
@media screen and (max-width: 1180px) {
    .sidenav {
        display: none;
    }
    
}